<div class="card h-100 d-flex flex-row overflow-hidden" style="min-height: 150px;">
  {% if include.page.image %}
  <div style="width: 25%; min-width: 100px;" class="d-flex align-items-center justify-content-center p-2">
    <img
            src="{{ site.baseurl }}/{{ include.page.image }}"
            class="img-fluid rounded-start"
            style="max-width: 100%; max-height: 100px; object-fit: contain;"
            alt="Project Image">
  </div>
  {% endif %}

  <div class="d-flex flex-column justify-content-between p-3" style="width: 75%;">
    <div>
      <h5 class="card-title mb-2">
        <a class="nav-link" href="{{ site.baseurl }}{{ include.page.url }}">
          {{ include.page.title }}
        </a>
      </h5>

      <p class="mb-2">
        {% for label in include.page.labels %}
        <span style="background-color: var(--tf-pill-bg)" class="badge rounded-pill">{{ label }}</span>
        {% endfor %}
      </p>

      <p class="card-text small">{{ include.page.summary }}</p>
    </div>

    <div class="text-center">
      {% if page.projecturl %}
      <a href="{{ page.projecturl }}" class="btn btn-outline-dark btn-sm">Project Site</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ include.page.url }}" class="btn btn-outline-dark btn-sm">Read More</a>
      {% endif %}
    </div>
  </div>
</div>
